[submodule "microservices/social"]
	path = microservices/social
	url = https://github.com/lancersEnt/social.git
[submodule "microservices/posts"]
	path = microservices/posts
	url = https://github.com/lancersEnt/posts.git
[submodule "microservices/comments"]
	path = microservices/comments
	url = https://github.com/lancersEnt/comments.git
[submodule "microservices/mailer"]
	path = microservices/mailer
	url = https://github.com/lancersEnt/mailer.git
[submodule "microservices/users"]
	path = microservices/users
	url = https://github.com/lancersEnt/users.git
