[submodule "microservices/posts"]
	path = microservices/posts
	url = https://github.com/lancersEnt/posts.git
[submodule "microservices/comments"]
	path = microservices/comments
	url = https://github.com/lancersEnt/comments.git
[submodule "microservices/mailer"]
	path = microservices/mailer
	url = https://github.com/lancersEnt/mailer.git
[submodule "microservices/users"]
	path = microservices/users
	url = https://github.com/lancersEnt/users.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/lancersEnt/api-gateway.git
[submodule "microservices/notification"]
	path = microservices/notification
	url = https://github.com/lancersEnt/notification.git
[submodule "microservices/klads"]
	path = microservices/klads
	url = https://github.com/lancersEnt/klads.git